body {
  width: 810px;
  margin: 0px;
  position: relative;
}
body * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h2 {
  color: #8bc83f;
  margin: 5px 0px;
  font-family:'Trade Gothic W01 Cn 18';
  font-size: 28px;
}

p {
  margin: 5px 0px;
  font-size: 17px;
  font-family:'Trade Gothic W01 Cn 18';
  //text-align: justify;
}

div.top_image {
  width: 100%;
  height: 786px;
  background-image: url('imgs/top_image.jpg');
  padding-top: 1px;
}

div.top_logo {
  width: 237px;
  height: 128px;
  background-image: url('imgs/top_logo.png');
  margin-top: 21px;
  margin-left: 24px
}

div.title_under_logo {
  width: 308px;
  text-align: center;
  margin-left: 43px;
}

div.title_under_logo p {
  color: white;
  background-color: #34582c;
  line-height: 33px;
  margin: 7px 0px;
  font-size: 30px;
}

img.fb_thumb {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 1px solid #34582c;
}

div.fb_like_mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: url('imgs/fb_like_mask.png') no-repeat top;
  z-index: 1000;
  background-color: black;
  opacity: 0.85;
}

div.bottom_text {
  width: 690px;
  height: 190px;
  margin: 380px auto 0px;
}

div.bottom_text p {
  color: white;
  margin: 5px 0px;
}

div.bottom_text h2 {
  color: #8bc83f;
}

div.win {
  height: 639px;
  background-image: url('imgs/win_bg.jpg');
  width: 100%;
  padding-top: 1px;
}

div.win img {
  float: right;
  display: block;
}

div.win .grand_prize img {
  margin-right: 35px;
}

div.desc_text {
  width: 335px;
  float: left;
  display: block;
  padding-left: 25px;
}

div.win p {
  color: white;
  padding-left: 10px;
  font-size: 16px;
}

div.win h2 {
  padding-left: 10px;
}

p.qualification,
div.win p.prize {
  background-color: #231f20;
  width: 140px;
  line-height: 37px;
  font-size: 13px;
}

div.grand_prize,
div.weekly_prize {
  height: 319px;
}

div.want_in {
  height: 700px;
  background-image: url('imgs/wantin_bg.jpg');
  width: 100%;
  padding-top: 1px;
}

div.want_in .step {
  width: 470px;
  margin: 44px 60px 0px 0px;
  float: right;
}

div.want_in .step .title {
  height: 162px;
  width: 137px;
  display: block;
  float: left;
  background-color: #34582c;
}

div.want_in .step  p,
div.want_in .step  h2 {
  color: white;
  padding-left: 10px;
}

div.want_in .step  h2 {
  font-size: 16px;
}

div.want_in .step img {
  display: block;
  float: right;
}

p.qualification {
  width: 100%;
  height: 37px;
  margin: 0px;
  display: inline-block;
}

div.want_in .step .caption p,
div.want_in .step .caption h2 {
  color: #211f20;
}

strong.wantin {
  background-color: #34582c;
  color: white;
}
