// meyer css reset starting
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// css reset ends here
body, html{height: 100% }
body {
  width:100%;
  max-width: 810px;
  margin: 0px;
  position: relative;
  font-family:'Trade Gothic W01'; font-weight:200; font-style:normal;
  font-family:'Trade Gothic W01'; font-weight:400; font-style:normal;

}
body * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h2 {
  color: #8bc83f;
  margin: 5px 0px;
  font-family:'Trade Gothic W01'; font-weight:200; font-style:normal;
  font-family:'Trade Gothic W01'; font-weight:400; font-style:normal;
  font-size: 28px;
}
a{
  color:#8ec549;
  text-decoration: none;
}
a:hover{
  color:#34582c;
}
label,
p {
  margin: 5px 0px;
  font-size: 13px;
  line-height: 18px;
  font-family:'Trade Gothic W01'; font-weight:200; font-style:normal;
}
ul{
padding-left:10px;
}
ul li{
  margin: 0px;
  font-size: 13px;
  line-height: 18px;
  font-family:'Trade Gothic W01'; font-weight:200; font-style:normal;
  color: white;

}
label {
  color: white;
  font-size: 14px;
  font-weight: 400;
  display: block;
  height: 27px;
}

label span {
color:#8ec549;
font-size: 12px;
display: block;
margin: -4px 0 0 26px;
line-height: 11px;
}
div.top_image {
  width: 100%;
  height: 786px;
  background-image: url('imgs/top_image.jpg');
  padding-top: 1px;
}

div.top_logo {
  width: 237px;
  height: 128px;
  background-image: url('imgs/top_logo.png');
  margin-top: 21px;
  margin-left: 24px
}

div.title_under_logo {
  display: none;
  width: 308px;
  text-align: center;
  margin-left: 43px;
}
.fb-login-button,
.fb-like {
  z-index: 1010;
  position: absolute !important;
  top: 300px;
  left: 105px;
  width: 600px;
}

.fb-login-button.fb_iframe_widget{
  display: none;
}
div.title_under_logo p {
  color: white;
  background-color: #34582c;
  line-height: 33px;
  margin: 7px 0px;
  font-size: 30px;
  font-weight:400;
}
div.subscribe_mask,
div.fb_like_mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.85) url('imgs/fb_like_mask2.png') no-repeat top;
  background-size: 100%;
  z-index: 1000;
}
div.subscribe_mask{
  display: none;
  background: rgba(0,0,0,0.85) url('imgs/suscribe_mask.png') no-repeat top;
}

div.bottom_text {
  width: 710px;
  height: 178px;
  margin: 458px 0 0 45px;
}

div.bottom_text p {
  color: white;
  margin: 19px 0 0px;
  font-size:15px;
}
div.bottom_text p strong{
font-style:oblique;
font-weight: 400;
}
div.bottom_text h2 {
  color: #8bc83f;
  font-size:37px;
}

div.win {
  height: 639px;
  background-image: url('imgs/win_bg.jpg');
  width: 100%;
  padding-top: 1px;
}

div.win img {
  float: right;
  display: block;
}

div.win .grand_prize img {
  margin-right: 35px;
}

div.desc_text {
  width: 350px;
  float: left;
  display: block;
  padding-left: 25px;
}

.weekly_prize .desc_text {
  padding-top: 20px;
}

div.win p {
  color: white;
  padding-left: 10px;
  margin: 5px 0px;
}

div.win h2 {
  padding-left: 10px;
}

p.qualification,
div.win p.prize {
  background-color: #231f20;
  width: 140px;
  line-height: 37px;
  font-size: 18px;
  font-weight:400;
}

div.grand_prize,
div.weekly_prize {
  height: 319px;
}

div.want_in {
  height: 700px;
  background-image: url('imgs/wantin_bg.jpg');
  width: 100%;
  padding-top: 1px;
}

div.want_in .step {
  width: 470px;
  margin: 44px 44px 0px 0px;
  float: right;
}

div.want_in .step.two {
  margin: 20px 44px 0px 0px;
}

div.want_in .step .title {
  height: 162px;
  width: 137px;
  display: block;
  float: left;
  background-color: #34582c;
  padding-top: 15px;
}

div.want_in .step  p,
div.want_in .step  h2 {
  color: white;
  padding-left: 10px;
  font-size: 12px;
  margin: 0;
}

div.want_in .step  h2 {
  font-size: 20px;
}

div.want_in .step img {
  display: block;
  float: right;
}

div.want_in p.qualification {
  width: 100%;
  height: 37px;
  margin: 0px;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
}

div.want_in .step .caption p{
 color: #211f20;
  font-size: 13px;
  font-weight:200

}
div.want_in .step .caption h2 {
  color: #211f20;
  font-weight:400
  font-size: 20px;
  margin: 10px 0 5px;
}

strong.wantin {
  background-color: #34582c;
  color: white;
}

div.pledge {
  background-image: url('imgs/pledge_bg.jpg');
  height: 708px;
  padding-top: 1px;
}

.top_pledge {
  margin-top: 50px;
}

.top_pledge img {
  float: left;
  margin-left: 35px;
}

.top_pledge .pledge_text {
  float: right;
  width: 500px;
  margin-right: 100px;
}

.top_pledge .pledge_text h2 {
  font-size: 45px;
  margin: 0px;
}

.top_pledge .pledge_text p {
  color: white;
}

.pledges_container {
  margin-top: 220px;
}

.pledge_child {
  width: 175px;
  height: 215px;
  float: left;
  margin-right: 10px;
  background-color: #e0e0e0;
  color: #34582c;
  margin-bottom: 10px;
  padding: 12px;
}

.pledge_child h2 {
  font-size: 20px;
  color: #34582a;
}

.pledge_child.right {
  float: right;
  margin-left: 10px;
  margin-right: 0px;
}

.pledge_child.join {
  background-color: #34582c;
  color: white;
}

.pledge_child.join h2 {
  color: white;
  font-size: 35px;
}

.pledge_child.join p {
  /*font-weight: bold;*/
}

.pledge_child.powseven {
  width: 228px;
  background-position: center top;
  background-color: transparent;
  background-image: url('imgs/powseven.png');
  background-repeat: no-repeat;
}

div.signup {
  background-image: url('imgs/mailform_bg.jpg');
  height: 364px;
  padding-top: 1px;
}

div.signup .title {
  width: 290px;
  height: 165px;
  float: left;
  margin: 45px 0 0 50px;
}

div.signup .title h2 {
  color: white;
  font-size: 38px;
}

div.signup span {
  color: #8bc83f;
}

div.signup fieldset {
  width: 375px;
  height: 270px;
  float: right;
  margin-right: 55px;
  margin-top: 25px;
  border: 0px;
}

div.signup fieldset input {
  border: 0px;
  height: 25px;
  margin: 6px;
}

div.signup fieldset input[type="text"] {
  font-family:'Trade Gothic W01'; font-weight:400; font-style:normal;
  font-style:oblique;
  padding: 0 5px;
}

div.signup fieldset input[type="submit"] {
  width: 160px;
  height: 40px;
  background-color: #888;
  color: #fefefe;
  font-size: 20px;
}

div.signup fieldset input[type="checkbox"] {
  width: 15px;
  height: 20px;
  vertical-align: middle;
  margin: 5px 0 0 3px;
}

div.signup .bottom {
  height: 18px;
  clear: both;
  margin: 0px auto;
  width: 700px;
  padding-top: 15px;
}

div.signup .bottom img,
div.signup .bottom p {
  float: left;
}

div.signup .bottom p {
  line-height: 22px;
  color: #cbcbcb;
  margin: 0px 0px 0px 10px;
  font-size: 19px;
  font-weight: 400;
}

.want_in .ready {
  width: 130px;
  height: 100px;
  float: left;
  margin-left: 50px;
  margin-top: 44px;
}

.want_in .ready h2 {
  font-size: 40px;
}

.want_in .ready p {
  font-size: 25px;
  font-weight: 400;
  line-height: 22px;
}

div.footer_img {
  background-image: url('imgs/footer_bg.jpg');
  height: 249px;
  background-size: 100%;
}

div.sponsors_footer {
  background-image: url('imgs/sponsors_footer_bg.jpg');
  height: 102px;
  background-size: 100%;
}
.error{
outline:1px solid red;
}
.error-msg{
display: none
}
.termsconditions h1,
.termsconditions h2,
.termsconditions h3,
.termsconditions h4,
.termsconditions p
{
font-family:'Trade Gothic W01'; font-weight:bold; font-style:normal;
font-size: 15px;
color: black;
text-align:center;
}
.termsconditions p
{
margin:10px 0;
font-family:'Trade Gothic W01'; font-weight:400; font-style:normal;
text-align: left;
}
