// meyer css reset starting
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// css reset ends here

body {
  width: 810px;
  margin: 0px;
  position: relative;
}
body * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h2 {
  color: #8bc83f;
  margin: 5px 0px;
  font-family:'Trade Gothic W01 Cn 18';
  font-size: 28px;
}

label,
p {
  margin: 5px 0px;
  font-size: 17px;
  font-family:'Trade Gothic W01 Cn 18';
  //text-align: justify;
}

label {
  color: white;
  font-size: 15px;
}

div.top_image {
  width: 100%;
  height: 786px;
  background-image: url('imgs/top_image.jpg');
  padding-top: 1px;
}

div.top_logo {
  width: 237px;
  height: 128px;
  background-image: url('imgs/top_logo.png');
  margin-top: 21px;
  margin-left: 24px
}

div.title_under_logo {
  width: 308px;
  text-align: center;
  margin-left: 43px;
}

div.title_under_logo p {
  color: white;
  background-color: #34582c;
  line-height: 33px;
  margin: 7px 0px;
  font-size: 30px;
}

img.fb_thumb {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 1px solid #34582c;
}

div.fb_like_mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: url('imgs/fb_like_mask.png') no-repeat top;
  z-index: 1000;
  background-color: black;
  opacity: 0.85;
}

div.bottom_text {
  width: 690px;
  height: 190px;
  margin: 380px auto 0px;
}

div.bottom_text p {
  color: white;
  margin: 5px 0px;
}

div.bottom_text h2 {
  color: #8bc83f;
}

div.win {
  height: 639px;
  background-image: url('imgs/win_bg.jpg');
  width: 100%;
  padding-top: 1px;
}

div.win img {
  float: right;
  display: block;
}

div.win .grand_prize img {
  margin-right: 35px;
}

div.desc_text {
  width: 335px;
  float: left;
  display: block;
  padding-left: 25px;
}

.weekly_prize .desc_text {
  padding-top: 20px;
}

div.win p {
  color: white;
  padding-left: 10px;
  font-size: 16px;
  margin: 0px;
}

div.win h2 {
  padding-left: 10px;
}

p.qualification,
div.win p.prize {
  background-color: #231f20;
  width: 140px;
  line-height: 37px;
  font-size: 18px;
}

div.grand_prize,
div.weekly_prize {
  height: 319px;
}

div.want_in {
  height: 700px;
  background-image: url('imgs/wantin_bg.jpg');
  width: 100%;
  padding-top: 1px;
}

div.want_in .step {
  width: 470px;
  margin: 44px 44px 0px 0px;
  float: right;
}

div.want_in .step.two {
  margin: 20px 44px 0px 0px;
}

div.want_in .step .title {
  height: 162px;
  width: 137px;
  display: block;
  float: left;
  background-color: #34582c;
  padding-top: 15px;
}

div.want_in .step  p,
div.want_in .step  h2 {
  color: white;
  padding-left: 10px;
  font-size: 15;
}

div.want_in .step  h2 {
  font-size: 20px;
  //font-family:'TradeGothicW01-BoldCn20 675337';
}

div.want_in .step img {
  display: block;
  float: right;
}

p.qualification {
  width: 100%;
  height: 37px;
  margin: 0px;
  display: inline-block;
}

div.want_in .step .caption p,
div.want_in .step .caption h2 {
  color: #211f20;
  font-size: 16px;
}

div.want_in .step .caption h2 {
  font-size: 18px;
}

strong.wantin {
  background-color: #34582c;
  color: white;
}

div.pledge {
  background-image: url('imgs/pledge_bg.jpg');
  height: 708px;
  padding-top: 1px;
}

.top_pledge {
  margin-top: 50px;
}

.top_pledge img {
  float: left;
  margin-left: 35px;
}

.top_pledge .pledge_text {
  float: right;
  width: 600px;
}

.top_pledge .pledge_text h2 {
  font-size: 45px;
  margin: 0px;
}

.top_pledge .pledge_text p {
  color: white;
}

.pledges_container {
  margin-top: 220px;
}

.pledge_child {
  width: 175px;
  height: 215px;
  float: left;
  margin-right: 10px;
  background-color: #e0e0e0;
  color: #34582c;
  margin-bottom: 10px;
  padding: 12px;
}

.pledge_child h2 {
  font-size: 20px;
  color: #34582a;
}

.pledge_child.right {
  float: right;
  margin-left: 10px;
  margin-right: 0px;
}

.pledge_child.join {
  background-color: #34582c;
  color: white;
}

.pledge_child.join h2 {
  color: white;
}

.pledge_child.powseven {
  width: 228px;
  background-position: center top;
  background-color: transparent;
  background-image: url('imgs/powseven.png')
  background-repeat: no-repeat;
}

div.signup {
  background-image: url('imgs/mailform_bg.jpg');
  height: 364px;
  padding-top: 1px;
}

div.signup fieldset {
  width: 375px;
  height: 270px;
  float: right;
  margin-right: 70px;
  margin-top: 25px;
}

div.signup fieldset input {
  border: 0px;
  height: 25px;
  margin: 6px 0px;
}

div.signup fieldset input[type="text"] {
  font-family:'TradeGothicW01-Cn18Obl';
}

.want_in .ready {
  width: 130px;
  height: 100px;
  float: left;
  margin-left: 50px;
  margin-top: 44px;
}

.want_in .ready h2 {
  font-size: 40px;
}

.want_in .ready p {
  font-size: 25px;
}

div.footer_img {
  background-image: url('imgs/footer_bg.jpg');
  height: 255px;
}

div.sponsors_footer {
  background-image: url('imgs/sponsors_footer_bg.jpg');
  height: 116px;
}
